.content {
    width: 100%;
    padding: 20px 0;
}
.error-input {
    border: 1px solid #830000;
}
.error-text {
    color: #830000;
}
.user-form {
    margin: 0 auto;
    max-width: 360px;
}
.poll-form {
    margin: 0 auto;
    max-width: 360px;
}
.vote-form {
    max-width: 360px;
}
.vote-form label {
    margin-left: 15px;
}
.new-poll {
    margin-bottom: 20px;
}
span.nav-link {
    cursor: pointer;
}
